# Arquivo de exemplo para as variáveis de ambiente do projeto.
# Copie este arquivo para um novo chamado '.env' e preencha com seus valores.

# Google Cloud Platform
GCP_PROJECT_ID="seu-id-do-projeto-aqui"
GCS_BUCKET_NAME="seu-nome-de-bucket-aqui"